{% extends "base.html" %}

{% block title %}CoVIC-DB Data Prototype{% endblock %}

{% block content %}
<p>This is an early prototype for storing and working with CoVIC-DB data.
See GitHub <a href="https://github.com/jamesaoverton/covic-db-tool-prototype">tool</a>
and <a href="https://github.com/jamesaoverton/covic-db-data-prototype">data</a> repositories.</p>

<ul>
  <li><a href="datasets/1/dataset.html">First test dataset</a></li>
  <li><a href="summary.html">Summary table</a></li>
  <li><a href="ontology.html" target="_blank">Ontology tree</a></li>
</ul>

{% endblock %}
