{% extends "base.html" %}

{% block title %}CoVIC-DB Data Prototype{% endblock %}

{% block content %}
<p>This is an early prototype for storing and working with CoVIC-DB data.</p>

<table class="table">
  <tr>
    {% for key in rows[0].keys() %}<th>{{ key }}</th>{% endfor %}
  </tr>
  {% for row in rows %}
  <tr>
    {% for cell in row.values() %}<td>{% if cell.iri %}<a href="{{ cell.iri }}">{{ cell.label }}</a>{% else %}{{ cell.label }}{% endif %}</td>{% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
